:root{
    --main-color:#d3ad7f;
    --black:#13131a;
    --bg:#010103;
    --border:.1rem solid rgba(255,255,255,.3);
}

*{
    font-family: 'Roboto', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: .8rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: #fff;
    border-radius: 5rem;
}

body{
    background: var(--bg);
}

section{
    padding:2rem 7%;
}
.menuju{
    text-align: center;
    color:#fff;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}
.menuju span{
    color:var(--main-color);
    text-transform: uppercase;
}
.tmll{
    margin-top: 1rem;
    display: inline-block;
    padding:.9rem 3rem;
    font-size: 1.7rem;
    color:#fff;
    background: var(--main-color);
    cursor: pointer;
}
.tml:hover{
    letter-spacing: .2rem;
}
.header{
    background: var(--bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1.5rem 7%;
    border-bottom: var(--border);
    position: fixed;
    top:0; left: 0; right: 0;
    z-index: 1000;
}
.header .Logo img{
    height: 7rem;
}

.header .navbar a{
    margin:0 1rem;
    font-size: 1.6rem;
    color:#fff;
    top: 0;

}
.header .navbar a:hover{
    color:var(--main-color);
    border-bottom: .1rem solid var(--main-color);
    padding-bottom: .5rem;
}
.header .icons div{
    color:#fff;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
}
.header .icons div:hover{
    color:var(--main-color);
}
.tml{
    margin-top: 1rem;
    display: inline-block;
    padding: 0.9rem 3rem;
    font-size: 1.7rem;
    color: #fff;
    background: var(--main-color);
    cursor: pointer;}



.header .kolom-pencarian{
    position: absolute;
    top:115%; right: 7%;
    background: #fff;
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
}

.header .kolom-pencarian.active{
    transform: scaleY(1);
}

.header .kolom-pencarian input{
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    color:var(--black);
    padding:1rem;
    text-transform: none;
}

.header .kolom-pencarian label{
    cursor: pointer;
    font-size: 2.2rem;
    margin-right: 1.5rem;
    color:var(--black);
}

.header .kolom-pencarian label:hover{
    color:var(--main-color);
}

.header .container-item-keranjang{
    position: absolute;
    top:100%; right: -100%;
    height: calc(100vh - 9.5rem);
    width: 35rem;
    background: #fff;
    padding:0 1.5rem;
}

.header .container-item-keranjang.active{
    right: 0;
}

.header .container-item-keranjang .item-keranjang{
    position: relative;
    margin:2rem 0;
    display: flex;
    align-items: center;
    gap:1.5rem;
}

.header .container-item-keranjang .item-keranjang .pencet{
    position: absolute;
    top:1rem; right: 1rem;
    font-size: 2rem;
    cursor: pointer;
    color: var(--black);
}

.header .container-item-keranjang .item-keranjang .pencet:hover{
    color:var(--main-color);
}

.header .container-item-keranjang .item-keranjang img{
    height: 7rem;
}

.header .container-item-keranjang .item-keranjang .content h3{
    font-size: 2rem;
    color:var(--black);
    padding-bottom: .5rem;
}

.header .container-item-keranjang .item-keranjang .content .harga{
    font-size: 1.5rem;
    color:var(--main-color);
}

.header .container-item-keranjang .tml{
    width: 100%;
    text-align: center;
}

.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background:url(../img/poto.kopi.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}
.home .content{
    max-width: 60rem;
}

.home .content h2{
    font-size: 6rem;
    text-transform: uppercase;
    color:#fff;
}

.home .content p{
    font-size: 2rem;
    font-weight: lighter;
    line-height: 1.8;
    padding:1rem 0;
    color:#eee;
}

.tentang .row{
    display: flex;
    align-items: center;
    background:var(--black);
    flex-wrap: wrap;
}

.tentang .row .bg{
    flex:1 1 45rem;
}

.tentang .row .bg img{
    width: 100%;
}
.tentang .row .content{
    flex:1 1 45rem;
    padding:2rem;
}

.tentang .row .content h2{
    font-size: 3rem;
    color:#fff;
}

.tentang .row .content p{
    font-size: 1.6rem;
    color:#ccc;
    padding:1rem 0;
    line-height: 1.8;
}

.menu .kotak-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
}

.menu .kotak-container .kotak{
    padding:5rem;
    text-align: center;
    border:var(--border);    
}

.menu .kotak-container .kotak img{
    height: 10rem;
}

.menu .kotak-container .kotak h3{
    color: #fff;
    font-size: 2rem;
    padding:1rem 0;
}

.menu .kotak-container .kotak .harga{
    color: #fff;
    font-size: 2.5rem;
    padding:.5rem 0;
}

.menu .kotak-container .kotak .harga span{
    font-size: 1.5rem;
    text-decoration: line-through;
    font-weight: lighter;
}

.menu .kotak-container .kotak:hover{
    background:#fff;
}

.menu .kotak-container .kotak:hover > *{
    color:var(--black);
}
.produks .kotak-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
}

.produks .kotak-container .kotak{
    text-align: center;
    border:var(--border);
    padding: 2rem;
}

.produks .kotak-container .kotak .icons a{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    border:var(--border);
    color:#fff;
    margin:.3rem;
}

.produks .kotak-container .kotak .icons a:hover{
    background:var(--main-color);
}

.produks .kotak-container .kotak .poto{
    padding: 2.5rem 0;
}

.produks .kotak-container .kotak .poto img{
    height: 25rem;
}

.produks .kotak-container .kotak .content h3{
    color:#fff;
    font-size: 2.5rem;
}

.produks .kotak-container .kotak .content .bintang{
    padding: 1.5rem;
}

.produks .kotak-container .kotak .content .bintang i{
    font-size: 1.7rem;
    color: var(--main-color);
}

.produks .kotak-container .kotak .content .harga{
    color:#fff;
    font-size: 2.5rem;
}

.produks .kotak-container .kotak .content .harga span{
    text-decoration: line-through;
    font-weight: lighter;
    font-size: 1.5rem;
}


.contact .row{
    display: flex;
    background:var(--black);
    flex-wrap: wrap;
    gap:1rem;
}

.contact .row .map{
    flex:1 1 45rem;
    width: 100%;
    object-fit: cover;
}

.contact .row form{
    flex:1 1 45rem;
    padding:5rem 2rem;
    text-align: center;
}

.contact .row form h3{
    text-transform: uppercase;
    font-size: 3.5rem;
    color:#fff;
}

.contact .row form .inputBox{
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background:var(--bg);
    border:var(--border);
}

.contact .row form .inputBox span{
    color:#fff;
    font-size: 2rem;
    padding-left: 2rem;
}

.contact .row form .inputBox input{
    width: 100%;
    padding:2rem;
    font-size: 1.7rem;
    color:#fff;
    text-transform: none;
    background:none;
}

.blogs .kotak-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
}

.blogs .kotak-container .kotak{
    border:var(--border);    
}

.blogs .kotak-container .kotak .poto{
    height: 25rem;
    overflow:hidden;
    width: 100%;
}

.blogs .kotak-container .kotak .poto img{
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.blogs .kotak-container .kotak:hover .poto img{
    transform: scale(1.2);
}

.blogs .kotak-container .kotak .content{
    padding:2rem;
}

.blogs .kotak-container .kotak .content .judul{
    font-size: 2.5rem;
    line-height: 1.5;
    color:#fff;
}

.blogs .kotak-container .kotak .content .judul:hover{
    color:var(--main-color);
}

.blogs .kotak-container .kotak .content span{
    color:var(--main-color);
    display: block;
    padding-top: 1rem;
    font-size: 2rem;
}

.blogs .kotak-container .kotak .content p{
    font-size: 1.6rem;
    line-height: 1.8;
    color:#ccc;
    padding:1rem 0;
}

.futter{
    background:var(--black);
    text-align: center;
}

.futter .bagikan{
    padding:1rem 0;
}

.futter .bagikan a{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color:#fff;
    border:var(--border);
    margin:.3rem;
    border-radius: 50%;
}

.futter .bagikan a:hover{
    background-color: var(--main-color);
}

.futter .link{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding:2rem 0;
    gap:1rem;
}

.futter .link a{
    padding:.7rem 2rem;
    color:#fff;
    border:var(--border);
    font-size: 2rem;
}

.futter .link a:hover{
    background:var(--main-color);
}

.futter .pembuat{
    font-size: 2rem;
    color:#fff;
    font-weight: lighter;
    padding:1.5rem;
}

.futter .pembuat span{
    color:var(--main-color);
}

aside {
    position: relative;
    display: flex;
    flex-direction: row;
    height: 30rem;

    padding: 2.5rem;
}
aside {
    top: 0;
    padding: 5rem;
    padding-top: calc(5rem + 1.5rem + 1ch);
    height: 20rem;
    color: white;
    background: #0000;
    float: right;
}

aside p {
    font-size: medium;
    text-align: center;
}

aside > img {
    width: auto;
    height: 100%;
    float: left;
    border-radius: 30px;
}

aside > #details {
    align-self: center;
    width: 100%;
}

aside {
    padding: 2rem;
    padding-top: 6.5rem;
}
aside > #details > h3 {
    font-weight: 600;
    font-size: 15pt;
    text-align: center;
    margin-bottom: 1;
    white-space: nowrap;
}
aside > #details > p#mail > a {
    opacity: 0.8;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: white;
    text-decoration: none;
    width: 10rem;
}

aside > #details > p#web-dev {
    opacity: 0.5;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    color: white;
}
aside > #details > p#mail a  {
    opacity: 0.8;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: white;
    text-decoration: none;
}
footer {
    padding: 2rem;
    text-align: center;
    color: white;
    background-color:#d3ad7f;
}











@media (max-width:991px){

    html{
        font-size: 55%;
    }

    .header{
        padding:1.5rem 2rem;
    }

    section{
        padding:2rem;
    }

}

@media (max-width:768px){

    #menu-tml{
        display: inline-block;
    }

    .header .navbar{
        position: absolute;
        top:100%; right: -100%;
        background: #fff;
        width: 30rem;
        height: calc(100vh - 9.5rem);
    }

    .header .navbar.active{
        right:0;
    }

    .header .navbar a{
        color:var(--black);
        display: block;
        margin:1.5rem;
        padding:.5rem;
        font-size: 2rem;
    }

    .header .kolom-pencarian{
        width: 90%;
        right: 2rem;
    }

    .home{
        background-position: left;
        justify-content: center;
        text-align: center;
    }

    .home .content h2{
        font-size: 4.5rem;
    }

    .home .content p{
        font-size: 1.5rem;
    }

}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

}